.groupContent {
    padding: 36px;
    background: #FFF;
    border-radius: 8px;
}

.tableContent {
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
        border:1px solid black;
        border-radius: 8px;
    }

    th{
        text-align: inherit;
        padding: .75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        border:1px solid black;
    }

    td{
        text-align: inherit;
        padding: .75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        border:1px solid black;
    }
}

.topTable {
    * {
        margin: unset;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        gap: 8px;
        select {
            border-radius: 8px;
            padding: 6px;
            column-gap: 20px;

        }
    }
    input {
        padding: 6px;
        border: 1px solid gray;
        border-radius: 8px;
        &:focus {
            outline: none;
            border: 1px solid rgb(3, 141, 141);
        }
    }
}

.bottomTable {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    * {
        margin: unset;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

.createBlock {
    ul {
        padding: 20px;
    }
}