.groupManagement{
    padding: 40px;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1rem;
        background-color: transparent;
        border:1px solid black;
        border-radius: .25rem;
    }
    
    th{
        text-align: inherit;
        padding: .75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        border:1px solid black;
    }

    td{
        text-align: inherit;
        padding: .75rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        border:1px solid black;
    }

    .groupManagement__btn{
        margin: 0 10px;
    }

    .groupManagement__form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .groupManagement__formWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .groupManagement__pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .groupManagement__sorting{

    }
}
