form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="file"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            margin-top: 5px;
        }

        input[type="file"] {
            margin-top: 10px;
        }

        avatarUrl {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    button {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007acc;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #005b9f;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

}